{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cooking Recipies{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'recipes/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/panels.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/photo.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/lists.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/forms.css' %}">
    <script defer src="{% static 'recipes/js/ingredients.js' %}"></script>
    <script  src="{% static 'recipes/js/recipe_form.js' %}"></script>
    <script  src="{% static 'recipes/js/list_filters.js' %}"></script>
    <script  src="{% static 'recipes/js/auth_forms.js' %}"></script>
    <script  src="{% static 'recipes/js/app.js' %}"></script>
</head>

<body class="page">
    {% include "navbar.html" %}
    <main class="page-content">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </main>


</body>
</html>