{% extends "base.html" %}

{% block title %}My recipes{% endblock %}

{% block content %}

    <section class="page-header page-header-split">
        <div>
            <h1 class="page-title">My Recipes</h1>
        </div>

        <a class="button button-main" href="{% url 'my_recipe_new' %}">Create recipe</a>
    </section>

    <section class="panel">

     <ul class="recipe-list">
      {% for r in recipes %}

        <li class="recipe-line">


        <a class="recipe-link" href="{% url 'my_recipe_detail' r.pk %}">{{ r.name }}</a>


        <div class="line-actions">
            <span class="visibility-tag">
                 {% if r.is_public %}Public{% else %}Private{% endif %}
            </span>
            <a class="button button-small button-quiet" href="{% url 'my_recipe_edit' r.pk %}">Edit</a>

        </div>


        </li>

      {% empty %}
        <li class="empty-note">You don’t have any recipes yet.</li>
      {% endfor %}
    </ul>

    </section>





{% endblock %}