<header class="topbar">
    <div class="topbar-inner content">




        <a class="site-title" href="{% url 'public_recipe_list' %}">
            Cooking Recipes
        </a>

        <nav class="main-links">
            <a class="main-link" href="{% url 'public_recipe_list'%}">Public recipes</a>
            <a class="main-link" href="{% url 'my_recipe_list'%}">My recipes</a>
        </nav>

        <div class="account-actions">
            {% if user.is_authenticated %}

                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="button button-quiet">Log out</button>
                </form>

            {% else %}

                <a class="button button-quiet" href="{% url 'login' %}">Log in</a>
                <a class="button button-main" href="{% url 'signup' %}">Sign up</a>

            {% endif %}
        </div>



    </div>

</header>
